main .datatable .caption {
    margin: 0;
    padding: 5px 5px 5px 10px;
    background-color: #E1E1E1;;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

main .datatable, table {
    border-spacing: 0;
    width: 100%;
}

main .datatable table, td, th, tr {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    font-size: 0.85rem;
    padding: 0.3rem;
    text-align: center;
}

main .datatable tbody tr:nth-child(2n - 1) {
    background: #F8F8F8;
}
